<h2 class="page-header"s>Search Authors</h2>
<form action="/authors" method="get">
    <label>Name</label>
    <input type="text" name="name" value="<%= searchOptions.name %>">
    <button type="submit">Search</button>
</form>
<br>
<!-- When it first start it will pass all the author in to this this authors variable-->
<!-- And then when we submit a form this authors variable will change they will lead to diffrent result-->
<% authors.forEach(author =>{ %>
   <div><%= author.name %></div>
   <div class="btn-row">

   <a class="btn btn-primary" href="/authors/<%= author.id %>">View</a>
   <a class="btn btn-primary" href="/authors/<%= author.id %>/edit">Edit</a>
<!--render this component depend on the query that we pass in-->
   <%- include('../partials/deleteForm',
    {url : `/authors/${author.id}`}) %> 
      
   </div>
<% }) %> 
  